.everything{
	border-top-width:20pt;
	border-style:solid;
	border-right-width:20pt;
	border-left-width:20pt;
	border-bottom-width:25px;
	border-color:black;
}
li a{ 
	list-style-type: none;
    overflow: hidden;
	font-size:40;
	color: white;
	text-decoration: none;
}
li {
	list-style-type: none;
    float: left;
	width:30%;
	padding:5%;
	min-width:100px;
}
li a:hover {
	color:grey;
	font-style:bold;
}
ul {
    margin: 0;
    overflow: hidden;
	background-color: #000;
	font-size:30pt;
}
img {
    max-width: 100%;
    height: auto;
}
.select{
	color:red;
}
/*
p {
	padding-left:5%;
	padding-right:5%;
	padding-top:5%; 
	padding-bottom:5%;
	height:25%;
	text-align: justify;
	background-color:red;
	width:75%;
	border: 5px solid black;
	border-radius:10px;
	font-size:20px;
}
*/
p {
	padding-left:5%;
	padding-right:5%;
	padding-top:5%; 
	padding-bottom:5%;
	height:25%;
	text-align: justify;
	background-color:red;
	width:88%;
	border: 5px solid black;
	border-radius:10px;
	font-size:20px;
}
h1 {
	padding:20px;
	text-align: justify;
	font-weight:bold;
	border: 5px solid black;
	border-radius:10px;
	background-color:black;
	color:red;
}
div {
    padding: 5px;
}
clearfix {
    overflow: auto;
}
.img1 {
    float: right;
	height:150px;
	border: 5px solid black;
	border-radius:10px;
	margin-left:20px;
}
.img2 {
	padding-left:10px;
	float: right;
	height:175px;
	border-radius:10px;
}
.timeLine{
	border: 5px solid black;
	border-radius:10px;
	width:98.5%;
	margin-right:auto;
	margin-left:auto;
    height: auto;
	margin-top:25px;
}

.select1{
	color:black;
}
